// partial Menu part

// Menu button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin-bottom: 5px;
        // Text color is calculated based on the background color
        background: setTextColor($primary-color);
        @include easeOut;
    }

    // Rotate Menu icon into an X with the Menu lines (=)
    &.close {
        transform: rotate(180deg);

        // For each line
        .btn-line {

            // Line 1 - rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            // Line 2 - hide
            &:nth-child(2) {
                opacity: 0;
            }

            // Line 3 - rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// Menu itself
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding,
    &-nav {
        background: rgba($primary-color, 0.9);
        display: flex;
        flex-flow: column wrap;
        align-items: center; // left/right
        justify-content: center; // top/down
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    // Right Navigation part
    &-nav {
        margin: 0;
        padding: 0;
        background: rgba(darken($primary-color, 5), 0.9);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        // When menu gets displayed
        &.show {
            // Slide down from the top
            transform: translate3d(0, 0, 0);
        }
    }

    // Items within the menu nav
    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        // When menu gets displayed
        &.show {
            // Slide the items in from the right
            transform: translate3d(0, 0, 0);
        }

        // Link (a) inside current class
        &.current>a {
            color: $secondary-color;
        }
    }

    // Left Branding part
    &-branding {
        background: rgba($primary-color, 0.9);
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        // When menu gets displayed
        &.show {
            // Slide down from the bottom
            transform: translate3d(0, 0, 0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url('../dist/img/portrait.jpg');
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }

    // Style Nav-links
    .nav-link {
        display: inline;
        position: relative;
        font-size: 1.8rem;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        // Text color is calculated based on the background color
        color: setTextColor($primary-color);
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }
}

// Delay each nav-item slide in for 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}